
/**
 * @name BetterDefaultGlasscord
 * @description This theme improves the basic glasscord template
 * @author Leeprky#2063
 * @version 1.0 Source
 * @source https://github.com/leeprky/BetterDefaultGlasscord
 * @invite https://discord.gg/Ff3rqAYB89
 * @authorLink hhttps://github.com/leeprky
 */
/*
   Copyright 2020 AryToNeX

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/

/* Glasscord USRBG */
/* NORMAL */
.reduce-motion .userPopout-3XzG_A {
	transform: translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: 0.8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	border-radius: 12px;
}

/* Glasscord additions to the normal header */

/* */

.headerNormal-T_seeN {
	z-index: 0;
}

.headerNormal-T_seeN::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2f313550;
	z-index: -1;
	border-radius: 12px;
}

/* Blurple Changes Default Header */
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
	z-index: 0;
	background: #201d20b6;
}

.headerPlaying-j0WQBV::after, .headerStreaming-2FjmGz::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1b1a1ace;
	z-index: -1;
	border-radius: 5px;
}

.headerSpotify-zpWxgT {
	z-index: 0;
	background: #1db95431;
}

.headerSpotify-zpWxgT::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #141d1700;
	z-index: -1;
	border-radius: 5px;
}

.body-3iLsc4 {
	background-color:  transparent
}

.userPopout-3XzG_A::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-pinned);
	z-index: -1;
}

/* EXPANDED */
.header-QKLPzZ .wrapper-3t9DeA::after {
	content: '';
	position: absolute;
	top: var(--usrbg-modal-x-offset);
	left: var(--usrbg-modal-y-offset);
	width: var(--usrbg-modal-width);
	height: var(--usrbg-modal-height);
	opacity: 0.5;
	background: var(--user-background) center/cover no-repeat;
	z-index: -1;
}

/* Glasscord additions to Usrbg expanded */
.topSectionNormal-2-vo2m {
	z-index: 0;
}

.topSectionNormal-2-vo2m::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #232529ec;
	z-index: -1;
}

.topSectionPlaying-1J5E4n {
	z-index: 0;
}

.topSectionPlaying-1J5E4n::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1414189f;
	z-index: -1;
}

.topSectionSpotify-1lI0-P {
	z-index: 0;
	background: #1e9b5cee;
}

.topSectionSpotify-1lI0-P::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1618172a;
	z-index: -1;
}

.body-3ND3kc {
	background-color:  rgba(7, 7, 7, 0.822);
}

/* USRBG compatibility end */


.auto-Ge5KZx::-webkit-scrollbar-track{
    background-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border: 4px solid transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: #20222550;
}

.theme-dark .container-1D34oG {
	background-color: transparent;
}

.theme-dark .card-FDVird:before {
	background-color: #33363c90;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
	background-color: #2f313650;
	border-color: #20222550;
}

.theme-dark .pageWrapper-1PgVDX {
	background-color: transparent;
}

.withFrame-haYltI::after {
	content: "";
	width: 100%;
	height: 4px;
	background: var(--background-titlebar);
	position: absolute;
	left: 0; top: 0;
	z-index: -1; /* Stay under the window buttons */
}

.container-1r6BKw {
	padding-top: 0;
	padding-bottom: 12px;
	margin-bottom: 12px;
	height: auto;
	transform: translateY(12px);
}

.container-1r6BKw::after {
	content: "";
	position: absolute;
	left: 0; top: -12px;
	width: 100%;
	height: 12px;
	background: var(--background-secondary);
}

.premiumPromo-fVlLu- {
	background-color: var(--background-secondary-chat);
}

.unread-3zKkbm {
	height: 4px;
	width: 4px;
	margin-top: -2px;
	border-radius: 2px 2px 2px 2px;
}

.jumpToPresentBar-9P20AM {
	border-radius: 8px;
	padding-bottom: 0;
}

.platform-win .sidebar-2K8pFh {
	border-radius: 0;
}

.platform-osx .scroller-2TZvBN {
    padding-top: 32px;
    -webkit-mask: linear-gradient(#0000, #fff 32px);
}

.platform-osx .wrapper-1Rf91z {
    margin-top: 0;
}

.typeMacOS-3EmCyP {
    background-color: var(--background-secondary) !important;
}

.platform-osx .unreadMentionsIndicatorTop-gA6RCh {
    top: 32px;
}

.platform-osx .back-1Ess-_ {
    -webkit-app-region: no-drag;
}

.platform-osx .button-2PWmas {
    -webkit-app-region: no-drag;
}

.platform-osx .toolbar-1t6TWx {
    -webkit-app-region: no-drag;
}


.platform-osx .topic-TCb_qw {
    -webkit-app-region: no-drag;   
}

.messagesPopoutWrap-1MQ1bW {
	background-color: var(--background-pinned);
}

.notice-2FJMB4 {
	background-color: var(--background-secondary) !important;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.contentWrapper-2txmjs {
	background-color: var(--background-emoji);
}

.emojiPicker-3PwZFl {
	background-color: var(--background-emoji) !important;
}

.app-2rEoOp {
	background-color: transparent;
}

.divider-JfaTT5 {
  border-top: none;
}

.isUnread-3Ef-o9 {
	border-color: transparent !important;
}

.attachment-33OFj0 {
	background-color: var(--background-attachments) !important;
}

.header-2V-4Sw {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.privateChannels-1nO12o {
	background-color: transparent;
}

.root-SR8cQa {
	background-color: var(--background-profile-expand);
}

.container-PNkimc {
	background-color: transparent;
}

.container-3w7J-x {
    background-color: transparent;
}

.inset-3sAvek {
	background-color: var(--background-secondary) !important;
}

.container-1r6BKw.themed-ANHk51 {
	background-color: var(--background-primary2);
}

.container-1r6BKw::after {
	background-color: var(--background-primary2);
}

.wrapper-1Rf91z {
	background-color: var(--background-secondary);
}

.childWrapper-anI2G9 {
	background-color: var(--background-logo);
}

.circleIconButton-jET_ig {
	background-color: var(--background-logo);
}

.searchBar-3dMhjb {
	background-color: var(--background-search-bar);
}

.searchBar-6Kv8R2 {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchHeader-1l-wpR {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.channelName-1QajIf {
	background-color: transparent;
}

.searchResult-3pzFAB:before {
	background-image: none;
}

.searchResult-3pzFAB:after {
	background-image: none;
}

.perksModal-fSYqOq {
	background-color: transparent !important;
}

.ctaBar-2UsjF2 {
	background-color: var(--background-attachments) !important;
}

.tierBody-16Chc9 {
	background-color: var(--background-secondary-chat) !important;
}

.perk-2WeBWW {
	background-color: var(--background-attachments) !important;
}

.content-yTz4x3:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tabBody-3YRQ8W:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-19hC9u:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-xm7Ad0:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	background-color: var(--background-search-bar);
}

.scroller-1JbKMe {
	background-color: transparent;
}

.scroller-2TZvBN {
	background-color: transparent;
}

.quickswitcher-3JagVE {
	background-color: var(--background-switcher);
}

.wrapper-2aW0bm {
	background-color: var(--background-primary-alt);
}

.searchResultMessage-2VxO12.hit-NLlWXA {
	background-color: var(--background-primary-alt);
}

.scroller-zPkAnE {
	background-color: transparent;
}

.embedFull-2tM8-- {
	background-color: var(--background-attachments);
}

.messagesWrapper-3lZDfY {
	margin-bottom: 8px;
}

.panels-j1Uci_ {
	background-color: transparent;
}

.titleBar-AC4pGV {
	background-color: var(--background-titlebar);
}

.uploadArea-3QgLtW {
	background-color: var(--background-lights-out);
}

.backdropWithLayer-3_uhz4 {
	background-color: var(--background-lights-out) !important;
}

.backdrop-1wrmKB {
	background-color: var(--background-lights-out) !important;
}

.downloadLink-1ywL9o {
	color: var(--text-lights-out) !important;
}

.bg-AYqtMd {
	-webkit-mask-image: linear-gradient(#000f, #0000) !important;
}

.scrollableContainer-2NUZem {
	background-color: var(--background-chatbox);
}

.members-1998pB {
	background-color: var(--background-secondary);
}

.members-1998pB>div {
	background-color: transparent;
}

.footer-1fjuF6 {
	display: none;
} 


/* Leeprky's Additions */
/* Removes The Orange Border When Double Clicking */
ul.tree-2wKJdG:focus {
    outline-color: transparent;
}
.tree-2wKJdG {
	background-color: var(--background-serverlist)
}
.expandedFolderBackground-1cujaW {
    background-color: var(--background-secondary2);
}
.form-2fGMdU:before {
	display: none;
}
  /* --- */

/* Extra Transparency */
.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}
.platform-osx .scroller-1Bvpku {
    background-color: var(--background-secondary);
}
.platform-win .scroller-1Bvpku {
    background-color: var(--background-secondary);
}
  /* --- */

/* DiscordTextTopLeftSlook */
.theme-dark .wordmark-2iDDfm svg {
	width: 0px;
  }
  .theme-dark .wordmark-2iDDfm:after {
    font-family: "Discord"; /* - DISCORD USERNAME FONT */
    content: "BDG";
    text-transform: uppercase;
    font-size: 18px;
    background: #eee9ee00;
    background-size: 400% 400%;
    position: absolute;
    top: 6px;
  }
  .theme-dark .withFrame-haYltI {
    height: 24px;
    margin-top: 4px;
  }
  /* --- */
  
  /* ScrollerDisable */
  ::-webkit-scrollbar {
    display: none;
   }
  
  /* ScrollerDisable */
  ::-webkit-scrollbar {
    display: none;
   }

/* PowercordToasts */
.powercord-toast {border-radius: 18px; background-color: transparent;}
.powercord-toast .header { background-color: transparent; border-radius: 12px 12px 0px 0px;}
.powercord-toast .buttons { background-color: transparent; border-radius: 0px 0px 10px 10px;}
.lookGhost-2Fn_0-.colorBrand-3pXr91 { color: #F4F7F5; background-color: var(--background-help-info)}
.lookGhost-2Fn_0-.colorBrand-3pXr91:hover { color: #F4F7F5; background-color: var(--background-modifier-hover)}
.lookOutlined-3sRXeN.colorRed-1TFJan {color: #F4F7F5; border-color: #f04747d0; background-color: #f0474738; }
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {color: #F4F7F5; border-color: #eb2e2ed0; background-color: #e93636a8; }
.lookOutlined-3sRXeN.colorGrey-2DXtkV {color: #F4F7F5; border-color: #b6bec9; background-color: #747f8d93; }
.lookOutlined-3sRXeN.colorGrey-2DXtkV:hover {color: #F4F7F5; border-color: #cbd3df; background-color: #99a6b893; }
.powercord-toast .header { font-size: 15px; }
.powercord-toast .contents .inner {background-color: transparent;border: none;}

/* Emooji Buttons On Chatbox */
.webkit-HjD9Er .buttons-3JBrkn {
    margin-right: 6px;
}

/* Help Button */
.toolbar-1t6TWx [aria-label="Help"] {
	display: none;
}
.theme-dark .children-19S4PO:after {
	display: none;
}

/* FriendsArea */
.nowPlayingColumn-2sl4cE {
    background: var(--background-primary2);
}

/* JumpToPresentBar */
.jumpToPresentBar-G1R9s6 {
	background-color: var(--background-secondary);
	height: 25px;
}

/* Leeprkys Adjustments */
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #2f313600;
}

/* Spotify Invite Friends Thing */
.attachButtonPlay-3iJ0mf {
    color: var(--spotify-color)
}
